.sweeper-tile {
  height: 42px;
  width: 42px;
  font-size: 22pt;
  font-weight: bold;
  /* Center til content*/
  flex: 1px;
  display: flex;
  text-align: center;
  flex-direction: column;
  justify-content: center;
  align-content: center;
  /* Disable highlighting of the numbers, and make cursor be pointer */
  cursor: pointer;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.sweeper-tile:hover {
  box-shadow: inset 0px 0px 10px rgba(0, 0, 0, 0.8);
}
