.navbar {
  position: absolute;
  padding: 12px;
  background: rgba(0, 0, 0, 0.2);
  width: inherit;
  border-radius: 0 0 12px 12px;
  box-shadow: 5px 5px 25px #bebebe, -5px -5px 25px #ffffff;
}

.hfill {
  width: 100px;
}
